<%= @schedule.event.name %>

<%= link_to 'Novo item', new_event_schedule_item_path(@schedule.event, @schedule) %>
<div>
  Data de início: <%= l(@schedule.start_date, format: '%d/%m/%Y %H:%M')%>
  Data de fim: <%= l(@schedule.end_date, format: '%d/%m/%Y %H:%M')%>
</div>